@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
body{
	/*font-family: Myriad Pro;*/
	font-family: 'Open Sans', sans-serif;
}
.container_outer{
	width: 100%;
	max-width: 1530px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

a, a:hover, a:focus, input:hover, input:focus, button:hover, button:focus{
	text-decoration: none;
	outline: none;
	transition: .5s all ease;
}



img {
    max-width: 100%;
}

header {
    background: #000000;
    padding: 26px 0;
}

.logo img {
    vertical-align: top;
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
}

.nav {
    display: flex;
}
.navigation li a {
    font-size: 23px;
    color: #fff;
    font-weight: 700;
    position: relative;
}
.navigation li a::before {
    position: absolute;
    content: "";
    height: 3px;
    background: #e1261c;
    width: 0%;
    bottom: -5px;
    transition: .5s all ease
}

.navigation li a:hover::before {
	width: 100%;
}
.navigation li {
    margin: 0 10px;
}

.order_nw a {
    color: #fff;
    background: #e1261c;
    font-size: 23px;
    font-weight: 600;
    padding: 15px 54px 16px;
    display: inline-block;
    border-radius: 30px;
    letter-spacing: 0;
}
.order_nw a:hover {
	color: #e1261c;
	background: #fff;
}

.order_nw {
    margin-left: 30px;
}
.banner {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.banner .skew {
    height: 360px;
    width: 140%;
    background: #fff;
    transform: skew(-70deg);
    margin-bottom: -180px;
}
.banner h1 {
    font-family: 'The Historia Demo';
    font-size: 300px;
    position: relative;
    line-height: 308px;
    letter-spacing: 30px;
    left: 100px;
}
.banner h1::before {
    position: absolute;
    content: "";
    bottom: 6px;
    background: url(../images/bnr_hd_img.png);
    background-repeat: no-repeat;
    left: -50px;
    right: 0;
    height: 59px;
    width: 100%;
    background-size: contain;
}
.banner h1 strong{
	 font-family: 'Stingray';
    font-size: 233px;
}
.banner_mn {
    display: flex;
    flex-wrap: wrap;
}

.banner_text {
    flex: 0 0 40%;
    text-align: center;
    position: relative;
    top: 46px;
    z-index: 3;
}

.banner_img {
    flex: 0 0 54%;
    right: -2%;
}

.banner_text h3{
	font-family: 'PhosphateSolid';
	font-size: 50px;
}
.banner_text h4 {
    font-family: 'PhosphateSolid';
    font-size: 27px;
}

.food_bn span {
    font-family: 'PhosphateSolid';
    font-size: 35px;
    margin-right: 20px;
}

.food_bn {
    margin-top: 40px;
}

.banner_text a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    background: #e1261c;
    padding: 20px 38px 17px;
    display: inline-block;
    border-radius: 40px;
    margin-top: 30px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.banner_text a:hover, a.view_btn:hover, .gallery_text a.view_btn:hover {
    background: #fff;
    color: #e1261c;
    box-shadow: 0px 1px 3px 0px rgba(225,38,28,.6);
}

.social_fix {
    position: fixed;
    z-index: 33;
    text-align: right;
    /* transform: rotate(-90deg); */
    left: auto;
    top: 50%;
    right: -125px;
    transition: .5s all ease;
}
.social_fix.active {
    right: -30px;
}
.social_fix span {
    color: #fff;
    font-size: 12px;
    background: #c61f27;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4px 12px 2px;
    border-radius: 4px 4px 0 0;
    vertical-align: top;
    margin: 0px 90px 0px 0px;
    /* float: right; */
    display: inline-block;
    transform: rotate(-90deg);
    cursor: pointer;
}
.social_fix ul {
    padding: 10px 27px 10px 18px;
    list-style: none;
    background: #fff;
    margin: -7px 0 0;
    border-radius: 40px;
    vertical-align: top;
    /* display: inline-block; */
    transform: rotate(-90deg);
}
.social_fix ul li {
    display: inline-block;
    margin: 0 5px;
}

.social_fix ul li a {
    font-size: 20px;
    color: #979797;
    transform: rotate(90deg);
    display: inline-block;
}
.social_fix ul li a:hover{
	color: #c61f27;
}




.owl-carousel .owl-stage{
    display: flex;
    align-items: flex-end;
}
.includge_sec .container_outer {
    max-width: 1780px;
}
.includge_sec {
    text-align: center;
    position: relative;
    margin-top: -120px;
}

.includge_sec .owl-nav{
	display: none;
}


h2.head_mn {
    color: #313131;
    font-family: 'The Historia Demo';
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 4px;
}

h3.sub_head_mn {
    color: #070707;
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'PhosphateSolid';
    font-weight: 500;
    line-height: 32px;
}

h3.sub_head_mn span {
    display: block;
    color: #c71f28;
    font-family: 'PhosphateSolid';
}
.includge_sec .slider h3 {
    font-size: 24px;
    color: #070707;
    text-transform: uppercase;
    font-family: 'PhosphateSolid';
    min-height: 80px;
    transition: .5s all ease;
}
.includge_sec .slider a:hover h3 {
    color: #c71f28;
}
.owl-carousel  .owl-dots button {
    height: 15px;
    width: 15px;
    background: #ffc700;
    display: inline-block;
    border-radius: 20px;
    margin: 0 4px;
    transition: .5s all ease;
}

.owl-carousel .owl-dots {
    margin-top: 20px;
}
.owl-carousel .owl-dots button:hover, .owl-carousel .owl-dots button.active{
    background: #c71f28;
}
.catering {
    background: url(../images/catering_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    /* overflow-x: hidden; */
    margin-top: 40px;
    position: relative;
}
.cater_skew {
        content: "";
    height: 409px;
    width: 140%;
    background: #fff;
    margin-bottom: 10px;
    display: block;
    -webkit-transform: perspective(20px) rotateX(3deg) rotateY(0deg);
    -webkit-transform-origin: right center;

    transform: perspective(20px) rotateX(3deg) rotateY(0deg);
    transform-origin: right center;
    width: 100%;
    bottom: 0;
    z-index: 0;
    position: absolute;
}
.catering_text, .catering_text .head_mn, .catering_text .sub_head_mn{
	color: #fff;
}
.catering_text{
	text-align: center;
	padding-top: 90px;
}
.catering_text h3.sub_head_mn {    
    margin-top: 20px;
    margin-bottom: 20px;

}
.catering_text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 32px;
}
.catering_text h5 {
    font-size: 18px;
    margin: 6px 0;
}
.catering_text h5 a {
    color: #e1261c;
    margin: 0;
    border-bottom: 1px solid #e1261c;
    font-weight: bold;
}

a.view_btn {
    margin: 30px auto;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    background: #e1261c;
    padding: 10px 24px 10px;
    display: inline-block;
    border-radius: 40px;
    width: 100%;
    max-width: 192px;
    line-height: 18px;
    min-height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.catering_img {
    flex: 0 0 50%;
}

.catering_img img {
    width: 180%;
    max-width: 177%;
    position: relative;
    left: -45%;
    top: -3%;
}

.catering .container {
    position: relative;
    z-index: 3;
}
.product_mn {
    display: flex;
    justify-content: space-between;
}

.product_left h3 {
    font-size: 42px;
    font-family: 'PhosphateSolid';
}

.product_left {
    text-align: center;
    flex: 0 0 20%;
}

.product_right {
    text-align: center;
    flex: 0 0 20%;
}

.product_right h3 {
    font-size: 35px;
    font-family: 'PhosphateSolid';
    color: #c71f28;
}

.product_right h4 {
    font-size: 30px;
    font-family: 'PhosphateSolid';
    color: #000000;
}
.products {
    margin-top: 30px;
    position: relative;
    z-index: 3;
    margin-top: -130px;
    margin-bottom: 80px;
}
.product_right ul {
    padding: 0;
    list-style: none;
}

.product_img {
    border-radius: 100%;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: 0 0 54px 0px rgba(0,0,0,.25);
}

.product_right ul li {
    margin-bottom: 14px;
}
.product_left h3 {
    margin: 40px 0;
}


.menu_mn {
    background: #f1f1f1;
    padding: 60px 0;
}

.menu_mn .head_sec {
    text-align: center;
}

.burger_menu {
    background: #fff;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-wrap: wrap;
}
.burger_tab {
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.burger_tab img {
    width: 100%;
}
.burger_tab h3 {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 58px;
    line-height: 40px;
    left: 10px;
    font-family: 'PhosphateSolid';
}
.burger_menu_tab {
    flex: 0 0 36%;
}

.burger_menu_text {
    flex: 0 0 64%;
}
.burger_txt {
    padding: 25px 45px 25px 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
}

.burger_txt h3 {
    color: #333333;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.burger_txt p{	
    color: #777777;
    font-size: 15px;
    margin: 0;
}
.bustn_burger_lt, .bustn_burger_rt {
    display: inline-block;
    margin-bottom: 31px;
}

.bustn_burger_lt {
    flex: 0 0 44%;
}

.bustn_burger_rt {
    flex: 0 0 42%;
}

.bustn_burger_rt:last-of-type {
    margin-bottom: 0;
}
.bustn_burger_lt:nth-last-child(3) {
    margin-bottom: 0;
}
.burger_txt h3 img {
    margin-left: 10px;
}
.menu_mn h3.sub_head_mn {
    font-size: 50px;
    color: #e1261c;
    margin: 10px 0 45px;
}
.burger_txt a.burger_new {
        position: absolute;
    right: 20px;
    bottom: 20px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #0d0b0e;
    border-bottom: 18px solid transparent;
}
.burger_txt a.burger_new:hover {
    border-left: 20px solid #e1261c;
}
.burger_tab.active::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid white;
    border-bottom: 30px solid transparent;
    top: 50%;
    transform: translateY(-50%);
}
.burgerBox{
	background: url(../images/burga_box_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    padding: 70px 0;
	text-align: center;
	color: #fff;
}
.burgerBox h2.head_mn, .burgerBox{
	color: #fff;
	margin-bottom: 30px
}
.coming_section {
    display: flex;
    justify-content: center;
}

.coming_txt ul {
    text-align: left;
    padding: 0;
}

.coming_txt {
    padding-left: 60px;
}
.coming_txt ul li {
    background: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
    list-style: none;
    padding: 6px 0 6px 60px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}
.burgerBox p {
    font-size: 18px;
    max-width: 590px;
    margin: 0 auto 50px;
}
.burgerBox p span {
    font-weight: 700;
}


.hm_gallery_mn {
    display: flex;
    margin: 30px -3px;
}

.galery_sec {
    padding: 0 3px;
    position: relative;
    flex: 0 0 33.33%;
}
.galery_sec img {
    width: 100%;
}
.gallery_home {
    overflow: hidden;
    text-align: center;
    margin-top: 60px;
}

.gallery_text {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.gallery_text h2.head_mn {
    align-self: center;
    width: 100%;
    color: #fff;
    text-shadow: 2px 5px 13px rgba(0,0,0,1);
}
.gallery_text h2.head_mn span{
	 font-family: 'Stingray';
    font-size: 78px;
}
.gallery_text a.view_btn {
    align-self: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 20px;
    text-transform: capitalize;
    bottom: 20px;
    letter-spacing: 0;
    background: #cc1115;
}




.press {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
}

.press ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.press ul li {
    padding: 0 25px;
}

.press h3.sub_head_mn {
    font-size: 50px;
    margin-bottom: 20px;
}
.accolades_sec {
    background: #f1f1f1;
    text-align: center;
    padding: 130px 0 50px 0;
    position: relative;
    overflow: hidden;
}
.accolades_sec::before {
    height: 12.8%;
    width: 170%;
    background: #fff;
    content: "";
    display: block;
    position: absolute;
    top: -2%;
    transform: skewX(-79deg) rotate(3deg) translateX(-46%);
    left: 0;
    right: 0;
    margin: auto;
}
.accolades_sec h3.sub_head_mn {
    font-size: 50px;
    margin-bottom: 60px;
}

.accla_inn {
    width: 318px;
    height: 318px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #bababa;
    border-radius: 100%;
    margin: 14px auto;
}

.accla_mash img {
    margin-bottom: 25px;
}

.accla_mash h3 {
    color: #9d9fa2;
    font-size: 22px;
    font-weight: 700;
    max-width: 200px;
    line-height: 23px;
}


.give_back {    
    background: #010101;
    padding: 25px 0 140px;
    position: relative;
    overflow: hidden;
}
.give_back::after {
    content: "";
    width: 140%;
    height: 190px;
    display: block;
    background: #fefefe;
    transform: skew(-78deg) rotate(2deg);
    position: absolute;
    bottom: -90px;
    box-shadow: -80px 20px 35px 0px rgba(0,0,0,.2) inset;
}
.give_back h2.head_mn, .give_back h3.sub_head_mn {
    color: #fff;
}

.give_bk_txt {
    text-align: center;
}

.give_back h3.sub_head_mn {
    font-size: 30px;
    margin: 15px auto 0px;
    max-width: 530px;
}

.media_social {
    background: #fff;
    padding: 0px 0 80px 0;
    text-align: center;
}


.media_sec a span {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    color: #e1261c;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 4px;
}

.media_sec a i {
    font-size: 46px;
    color: #000;
}

.media_sec a h4 {
    color: #000000;
    font-size: 22px;
    width: 100%;
    font-weight: 700;
}

.media_sec a {
    width: 100%;
    max-width: 180px;
    background: #fff;
    box-shadow: 0 0px 60px 0px rgba(0,0,0,.13);
    display: inline-block;
    border-radius: 10px;
    padding: 26px 10px;
}

.media_sec a:hover{
	background: #e1261c;
	color: #fff; 
}
.media_sec a:hover h4, .media_sec a:hover i, .media_sec a:hover span{
	color: #fff; 
	}
.media_social h3.sub_head_mn {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    letter-spacing: 0;
    font-size: 30px;
    font-weight: 900;
}




.about_sec p span {
    font-weight: bold;
}

.abt_home {
    flex: 0 0 38%;
}

.col.abt_loc {
    flex: 0 0 31%;
    margin-top: 50px;

}

.abt_img img {
    width: auto;
    max-width: 200%;
    left: 0%;
    position: relative;
    transform: translateX(-27%) translateY(0%);
    /* top: -28%; */
    margin-top: -53%;
}

.abt_img {
    flex: 0 0 31%;
}
.about_sec {
    padding: 170px 0 0;
    position: relative;
    overflow: hidden;
}
.about_sec::before {
    position: absolute;
    content: "";
    height: 210px;
    width: 130%;
    top: -15%;
    transform: skew(-73deg) rotate(3deg);
    background: #ffffff;
    left: -22%;
    right: 0;
}
.about_sec a.view_btn {
    margin: 30px 0 0;
}

.abt_home h3.sub_head_mn {
    font-size: 29px;
    color: #e1261c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
    letter-spacing: -1px;
    margin-top: 12px;
}

.abt_home p {
    margin-bottom: 30px;
    font-size: 16px;
}
.abt_home p a{    
    color: #212529;
}

.abt_home p a:hover{
    color: #e1261c;
    }
.about_sec h2.head_mn {
    color: #000;
}
.footer_div {
    position: relative;
    background: #f1f1f1;
}
.footer_div::before {
    content: "";
    background: url(../images/footer_pattern.png);
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    position: absolute;
    bottom: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: right top;
}
footer {
    background: #1c1c1c;
    padding: 0;
    margin-top: -130px;
}


.sign_footer {
    display: flex;
}

.sign_footer h3 {
    margin-left: 20px;
    font-size: 27px;
    color: #fff;
    font-weight: 700;
}

.sign_footer h3 span {
    display: block;
    text-decoration: underline;
}
.mailing_btn a {
    color: #000000;
    font-size: 18px;
    background: #ffc700;
    padding: 16px 20px 12px;
    font-weight: 900;
    border-radius: 40px;
}
.mailing_btn a:hover {
    color: #fff;
    background: #e1261c;
    }
.footer_links {
    max-width: 75%;
    left: 9%;
    position: relative;
    margin-top: -30px;
}
.ftr_url h4 {
    font-size: 13px;
    color: #e1261c;
    font-weight: 700;
    margin-bottom: 10px;
}

.ftr_url ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.ftr_url ul li a {
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
}
.ftr_url ul li a:hover{
	color: #e1261c;
}
.ftr_url ul li {
    margin-bottom: 10px;
}

.col.footer_explore {
    flex: 0 0 30%;
    border-right: 1px solid #464646;
}

.ftr_url {
    padding: 0 0px;
    display: flex;
    justify-content: center;
}

.copy-right p {
    color: #fff;
    text-align: center;
    margin: 0 0 0;
    padding: 50px 0 50px;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    width: 100%;
}

.copy-right p span {
    font-weight: 700;
}
.topArrow span {
    color: #fff;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.topArrow i {
    font-size: 25px;
    color: #fff;
    margin-left: 14px;
    color: #ffc700;
}

.topArrow {
    display: flex;
    align-items: center;
    float: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.copy-right {
    display: inline-block;
    width: 100%;
    position: relative;
}







.inner_banner  .banner_text {
    flex: 0 0 100%;
}

.inner_banner .banner_text h1::before {
    display: none;
}

.inner_banner .banner_text h1 {
    font-size: 222px;
    line-height: 250px;
    letter-spacing: 0;
    left: 0;
}
.banner.about_banner {
    background: url(../images/about_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: visible;
    padding-bottom: 210px;
}
.banner.menu_banner {
    background: url(../images/menu_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: visible;
    padding-bottom: 210px;
}
.banner.store_banner {
    background: url(../images/store_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: visible;
    padding-bottom: 210px;
}
.banner.caterign_banner {
    background: url(../images/catering_backgrond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: visible;
    padding-bottom: 210px;
}
.banner.gallery_banner {
    background: url(../images/gallery_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: visible;
    padding-bottom: 210px;
}
.sub_pages {
    position: relative;
    margin-top: -200px;
    padding-top: 160px;
}
.sub_pages::before {
    background: url(../images/background-inner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    content: "";
    height: 100%;
    width: 100%;
    z-index: 9;
    position: absolute;
    z-index: 0;
    top: 0;
}

.sub_pages_sec {
    position: relative;
    z-index: 3;
}
.inner_banner .food_bn span {
    font-size: 40px;
}

.sub_pages  h3.sub_head_mn {
    font-size: 60px;
    text-align: center;
    margin-bottom: 70px;
}

.about_text p {
    font-size: 28px;
    color: #797979;
    margin-bottom: 40px;
}

.about_text p b {
    font-weight: 600;
}
.about_img_Sec img {
    border-radius: 100%;
}

.about_img_Sec {
    text-align: center;
}

.abt_sec_txt {
    margin-top: 60px;
}

.abt_sec_txt h3 {
    font-size: 58px;
    font-family: 'PhosphateSolid';
}
.abt_sec_txt h2{
	    font-family: 'The Historia Demo';
	    font-size: 122px;
	    color: #e1261c;
}









.subPages .press::before {
    height: 14.8%;
    width: 170%;
    background: #fff;
    content: "";
    display: block;
    position: absolute;
    top: -2%;
    transform: skewX(-84deg) rotate(1.5deg) translateX(-47%);
    left: 0;
    right: 0;
    margin: auto;
}

.subPages .press {
    position: relative;
    background: #f1f1f1;
    padding-top: 130px;
    overflow: hidden;
}

.subPages .accolades_sec {
    background: #fff;
}

.subPages .accolades_sec::before {
    background: #f1f1f1;
    top: -80px;
    transform: skewX(85deg) rotate(-2deg) translateX(-39%);
    height: 80px;
}







/*---- new style start----*/
.inner_banner .banner_text.catering-text h1 {
    left: 0px;
    right: 0px;
    text-align: center;
}
.subPages.ng-scope {
    overflow-x: hidden;
}
.store {
    padding-bottom: 60px;
}
.subPages .catering-content {
    margin: 10px 0px;
}
.catering-content .text-box {
    background-color: #060200;
    height: 100%;
    width: 100%;
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 40px 35px;
}   
.sub_pages .catering-content h3.sub_head_mn {
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
    line-height: 48px;
    color: #fff;
}
.sub_pages .order-row-col .order-box {
    position: relative;
}
.sub_pages .order-row-col .text-box {
background: rgba(240, 20, 7, 0.7);
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
align-items: center;
justify-content: center;
-webkit-flex-direction: column;
flex-direction: column;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
-o-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;

}
/*.sub_pages .order-row-col .text-box:hover{
background: rgba(0, 0, 0, 0.4); 
    
}*/
.sub_pages .order-row-col h3.sub_head_mn{
font-size: 58px;
color: #f9f9f9;
text-align: center;
margin-bottom: 0px;
line-height: 54px;
}
.sub_pages .order-row-col .order-link,.catering-final .order-box h4{
    font-size: 20px;
color: #f9f9f9;
text-align: center;
text-transform: uppercase;
font-family: 'PhosphateSolid';
font-weight: 500;
text-decoration: underline;
}
.catering-final .order-box h4{
text-decoration: none;  
    font-size: 25px;
}
.order-row-col {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.catering-order-row {
    padding: 0px 15px;
    margin-bottom: 10px;
}
.catering-content p{    
font-size: 22px;
color: #fefefe;
text-align: center;
    margin-bottom: 0;
}
.catering-content a.view_btn {
 margin: 30px auto 0px;
}
.catering-content .image-col .image-box{
    height: 100%;
}
.catering-content .image-col {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.catering-content .text-col {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.catering-content .image-col .image-box img {
    max-width: 100%;
    width: 100%;
}
.store.catering-final {
    margin: 0 -80px;
}
.catering-final p {
    font-size: 26px;
    line-height: 39px;
    color: #504f4f;
    text-align: left;
    padding: 10px 0px 70px 0px;
    font-weight: 600;
}
.catering-final .order-row-col .order-link {
    margin-top: 10px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    display: block;
    text-align: center;
}
.catering-final .order-box .text-box {
  padding: 30px 20px 30px 10px;
}
.catering-final .order-box .text-box h3.sub_head_mn {
    font-size: 58px;
}
.order-box img {
    width: 100%;
}
.catering-final .order-box h4.onsite_drop {
    font-size: 20px;
}
/*---- new style end----*/






.caterign_banner h1 span{
     font-family: 'Amithen';
}


.gallery_left {
    flex: 0 0 70%;
    max-width: 70%;
}
.Gallery_sidebar {
    flex: 0 0 30%;
    max-width: 30%;
}
.gallery_video iframe {
    width: 100%;
    height: 460px;
    vertical-align: top;
}

.gallery_video {
    position: relative;
}

.gallery_video .bugur_video {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
}

.more_video {
    padding: 0 20px;
}

.br_video span {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 17px 20px;
    display: inline-block;
    background: #e1261c;
}

.more_video a {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: underline;
}
.more_video a:hover{
    color: #e1261c;
}
.gallery_section h2 {
    font-size: 30px;
    font-family: 'PhosphateSolid';
    color: #000;
    margin: 40px 0;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;
    position: relative;
}

.gallery_section h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 25px;
    background: #e1261c;
    height: 1px;
    width: 50px;
}
.gallery_section h2 a {
    color: #e1261c;
}
.Gallery_sidebar h3 {
    font-size: 24px;
    color: #e1261c;
    font-family: 'PhosphateSolid';
    margin-bottom: 22px;
}



.Gallery_sidebar ul {
    list-style: none;
    padding: 0;
}

.burger_sidebar ul li {
    display: inline-block;
}

.burger_sidebar ul li a {
    font-size: 26px;
    color: #000;
    margin-right: 15px;
}

.emal_follow h4 {
    color: #797979;
    font-size: 22px;
}

.emal_follow input[type="email"] {
    background: #f0f0f0;
    color: #4c4c4c;
    font-size: 13px;
    width: 100%;
    border: 0;
    padding: 16px 18px;
    border-radius: 6px;
    font-weight: 600;
}

.emal_follow button[type="submit"] {
    background: #e1261c;
    font-size: 10px;
    color: #fff;
    border: 0;
    padding: 9px 35px;
    display: inline-block;
    float: right;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.emal_follow button[type="submit"]:hover, .burgur_sd a:hover{
    background: #fff;
    color: #e1261c;
    box-shadow: 0px 1px 3px 0px rgba(225,38,28,.6);
}
.emal_follow {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.sidebar_category li a {
    font-size: 24px;
    color: #797979;
    border-bottom: 1px solid #797979;
}

.sidebar_category li {
    margin-bottom: 7px;
}

.sidebar_category form input[type="search"] {
    background: #f0f0f0;
    color: #f0f0f0;
    font-size: 13px;
    width: 100%;
    border: 0;
    padding: 16px 18px;
    border-radius: 6px;
    font-weight: 600;
}

.sidebar_category ul {
    margin-bottom: 40px;
}

.sidebar_category {
    margin-bottom: 60px;
}

.post_sidebar li a {
    font-size: 16px;
    color: #000;
    font-family: 'PhosphateSolid';
    position: relative;
}
.post_sidebar li a:hover, .sidebar_category li a:hover{
    color: #e1261c
}
.post_sidebar li {
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 25px;
}

.post_sidebar li a::before {
    background: #ef8b86;
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    top: -15px;
}

.post_sidebar h3 {
    margin-bottom: 30px;
}

.select_month{
    position: relative;
    margin-bottom: 10px;
}
.select_month select {
    color: #797979;
    background: #f1f1f1;
    border: 0;
    width: 100%;
    padding: 15px 11px;
    -webkit-appearance: none;
}
.select_month::before {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #797979;
    content: "";
    position: absolute;
    top: 23px;
    right: 20px;
}


.burgur_sidebar {
    background: #f1f1f1;
    padding: 20px;
}

.burgur_sd {
    background: #000;
    text-align: center;
    padding: 15px 15px 20px;
}

.burgur_sd h2 {
    font-size: 70px;
    font-family: 'The Historia Demo';
    color: #fff;
}

.burgur_sd p {
    color: #fff;
    font-size: 14px;
}

.burgur_sd a {
    background: #e1261c;
    font-size: 9px;
    color: #fff;
    border: 0;
    padding: 9px 35px;
    display: inline-block;
    border-radius: 40px;
    margin-top: 10px;
    text-transform: uppercase;
}



.sub_pages .order-row-col.custom_order .text-box {background: transparent;}




.blog_section {
    background: #ffff;
    border: 1px solid #dbdbdb;
    margin-bottom: 30px;
}

.blog_text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
}

.blog_text h3 {
    font-size: 28px;
    font-family: 'PhosphateSolid';
    color: #000;
    margin: 0px 0 10px;
    padding-bottom: 0;
    position: relative;
}

.blog_text ul {
    list-style: none;
    padding: 0;
}

.blog_text ul li {
    display: inline-block;
    margin-right: 20px;
}
.blog_text ul li a {
    color: #797979;
    font-size: 13px;
}

.blog_text ul li a i {
    margin-right: 5px;
}

.blog_text ul li a:hover {
    color: #e1261c;
}

.blog_text p {
    font-size: 14px;
    margin-bottom: 22px;
}
.blog_text a.view_btn {
    min-height: 48px;
    font-size: 12px;
    max-width: 150px;
    margin: 0;
}
.blog-detail {
    padding-right: 30px;
    border: 1px solid #dbdbdb;
    padding: 25px;
    background: #fff;
}
.blog-detail .gallery_section h2 {
    margin-top: 0;
    border-bottom: 0;
    font-size: 40px;
    margin-bottom: 15px;
}
.blog-detail .blog_dtl-img img{
    width: 100%;
}
.blog_dtl-img {
    margin-bottom: 40px;
}

.blog-dtl-text {
    text-align: left;
    font-size: 16px;
    color: #797979;
    margin: 0 auto;
    /* max-width: 890px; */
}
.blog-detail ul {list-style: decimal;padding-left: 20px;}

.blog-detail ul li {
    margin-bottom: 16px;
}

.related-post {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;
}

.related-post h2.head_mn {
    margin-bottom: 40px;
}

.post-text {
    padding-top: 25px;
}

.post-text h3 {
    color: #070707;
    font-size: 26px;
    font-family: 'PhosphateSolid';
}

.post-text a {
    margin-top: 0;
}
.post-text a {
    margin-top: 0;
    font-size: 12px;
    min-height: 50px;
    max-width: 160px;
}
.post-text p {
    margin: 22px 0;
}

.blog-main footer {
    margin-top: 40px;
}
.blog-main .give_back {
    margin-top: 80px;
}

@media (min-width: 1200px){
	.container{
		max-width: 1210px;
	}
}



@media (max-width: 1599px) {
	.banner h1 {
    font-size: 250px;
}
.banner_text {
    flex: 0 0 36%;
    }
    .banner_img {
    flex: 0 0 53%;
}
.bustn_burger_lt, .bustn_burger_rt {
    margin-bottom: 20px;
}
.burger_menu_tab {
    flex: 0 0 40%;
}
.burger_menu_text {
    flex: 0 0 60%;
}
h2.head_mn {
    font-size: 80px;
}
.gallery_text h2.head_mn span {
    font-size: 58px;
}
.menu_mn h3.sub_head_mn {
    font-size: 40px;
}
.burger_tab h3 {
    font-size: 48px;
}

.subPages .inner_banner .banner_text h1 {
    left: 0;
}
.store.catering-final {
    margin: 0 -60px;
}
}



@media (max-width: 1365px) {
.banner h1 {
    font-size: 220px;
}
.banner_img {
    flex: 0 0 52%;
}
.catering_img img {
    max-width: 167%;
    left: -33%;
}
.burger_txt h3 {
    font-size: 18px;
}
.burger_txt h3 img {
    max-width: 120px;
}
.burger_txt p {
    font-size: 14px;
 }
.bustn_burger_lt, .bustn_burger_rt {
    margin-bottom: 22px;
}
.store.catering-final {
    margin: 0 -40px;
}
}



@media (max-width: 1279px) {
.navigation li {
    margin: 0 6px;
}
.order_nw {
    margin-left: 15px;
}
.order_nw a {
    padding: 12px 40px 9px;
}

.navigation li a {
    font-size: 22px;
}
.banner h1 {
    font-size: 160px;
    line-height: 238px;
}

.banner h1::before {
    height: 45px;
}

.banner h1 span {
    font-size: 180px;
}

.banner_text h3 {
    font-size: 36px;
}

.banner_text h4 {
    font-size: 21px;
}

.food_bn {
    margin-top: 30px;
}

.banner_text a {
    margin-top: 20px;
}

.food_bn img {
    max-width: 100px;
}
.banner .skew {
    transform: skew(-70deg);
    height: 210px;
    margin-bottom: -0px;
    margin-top: 30px;
}



.cater_skew {
    height: 160px;
    -webkit-transform: skew(-72deg) rotate(1deg);
    transform: skew(-72deg) rotate(1deg);
    bottom: -110px;
    width: 180%;
    left: -10%;
}

.products {
    margin-top: 20px;
}
.product_left h3 {
    font-size: 35px;
}
.product_img {
    width: 90%;
    margin: 0 auto;
}

.product_left {
    flex: 0 0 30%;
}
.product_right {
    flex: 0 0 24%;
}


.gallery_text h2.head_mn {
    font-size: 60px;
}

.gallery_text h2.head_mn span {
    font-size: 40px;
}

.accla_inn {
    width: 300px;
    height: 300px;
}


.sign_footer h3 {
    margin-left: 14px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}
.mailing_btn a {
    font-size: 14px;
    padding: 14px 20px 14px;
}

footer {
    margin-top: 0;
}

.abt_img img {
    max-width: 160%;
    margin-top: 20px;
}


.abt_sec_txt h2 {
    font-size: 92px;
}
.abt_sec_txt h3 {
    font-size: 48px;
}
.about_text p {
    font-size: 24px;
    }
.inner_banner .banner_text h1 {
    font-size: 152px;
}

.sub_pages .catering-content h3.sub_head_mn {
    font-size: 40px;
    line-height: 30px;
}
.catering-content p{
    font-size: 18px;
}
    .catering-content .text-box {
    padding: 40px 15px;
}

.catering-final .order-row-col .order-link {
    margin-bottom: 20px;
    display: block;
    word-break: break-word;
}

.catering-final .order-box .text-box h3.sub_head_mn {
    font-size: 40px;
}
.burgur_sd h2 {
    font-size: 58px;
}
.store.catering-final {
    margin: 0 0px;
}
.catering-final .order-box h4 {
    font-size: 22px;
}
}


@media (max-width: 991px) {

.navigation li a {
    font-size: 15px;
}
.order_nw a {
    padding: 12px 20px 12px;
    font-size: 16px;
}
.banner h1::before {
    height: 35px;
}
.banner h1 {
    font-size: 120px;
    line-height: 178px;
    left: 60px;
}
.banner h1 span {
    font-size: 130px;
}
.banner_img {
    flex: 0 0 50%;
}
.banner_text h3 {
    font-size: 28px;
}
.banner_text h4 {
    font-size: 16px;
}
.banner_text a {
    margin-top: 10px;
}
.food_bn {
    margin-top: 10px;
}
.food_bn span {
    font-size: 23px;
}
.catering_text {
    padding-top: 50px;
}
.catering {
    padding-bottom: 70px;
}
.products {
    margin-top: -1px;
    background: #fff;
}
h2.head_mn {
    font-size: 70px;
}
.product_right h4 {
    font-size: 26px;
}
.product_left {
    flex: 0 0 24%;
}
.burger_tab.active::before {
    left: -1px;
}

.gallery_text a.view_btn {
    margin-bottom: 0;
    font-size: 14px;
    min-height: 40px;
    max-width: 130px;
}
.burger_txt h3 {
    font-size: 16px;
}
.burger_txt p {
    font-size: 13px;
}
.bustn_burger_rt {
    flex: 0 0 49%;
}

 a.view_btn {
    font-size: 14px;
    max-width: 172px;
    min-height: 52px;
    padding: 10px 14px 10px;
}
.gallery_text h2.head_mn {
    font-size: 50px;
}
.gallery_text h2.head_mn span {
    font-size: 25px;
}
.press li img {
    max-width: 70%;
}
.give_bk_img {
    flex: 0 0 100%;
    text-align: center;
}
.media_social_inner .col {
    flex: 0 0 33.33%;
    margin-bottom: 20px;
}
.media_social_inner .row {
    justify-content: center;
}

.media_social_inner .row {
    justify-content: center;
}

.abt_home {
    flex: 0 0 100%;
}

.about_sec {
    padding-bottom: 50px;
}
.col.abt_loc {
    flex: 0 0 61%;
}

.col.abt_img {
    flex: 0 0 37%;
}

.abt_img img {
    max-width: 100%;
    transform: inherit;
}
.gurantee-img img {
    max-width: 100px;
}
.burger_tab h3 {
    font-size: 28px;
}
.product_right {
    flex: 0 0 34%;
}
.accolades_sec::before {
    height: 10.8%;
    top: -4%;
}
.give_back::after {
    bottom: -60px;
}
.about_sec::before {
    transform: skew(-79deg) rotate(3deg);
    left: 0;
}
.col.abt_loc {
    margin-top: 20px;
}
.sign_footer h3 {
    font-size: 14px;
}
.mailing_btn a {
        font-size: 12px;
    padding: 12px 16px 12px;
}
.footer_logo {
    flex: 0 0 18%;
}

.sign_footer img {
    max-width: 65px;
}

.sign_footer {
    align-items: flex-start;
}

.col.footer_explore {
    flex: 0 0 33%;
}
.footer_links {
    left: 5%;
    margin-top: 0;
}
.abt_sec_txt h3 {
    font-size: 37px;
}

.abt_sec_txt h2 {
    font-size: 70px;
}
.about_text p {
    font-size: 20px;
}
.sub_pages h3.sub_head_mn {
    font-size: 45px;
}

.subPages .catering-content {
    margin-bottom: 22px;
}
.catering-content a.view_btn {
    margin-top: 10px;
}

.catering-final .order-box h4 {
    font-size: 16px;
}

.catering-final .order-box .text-box h3.sub_head_mn {
    font-size: 30px;
}
.inner_banner .banner_text h1 {
    font-size: 100px;
}
.inner_banner.banner h1 span {
    font-size: 90px;
}
.subPages .inner_banner .banner_text h1 {
    line-height: 100px;
}
.burger_sidebar ul li a {
    margin-right: 10px;
}

.gallery_left {
    flex: 0 0 60%;
    max-width: 60%;
}
.Gallery_sidebar {
    flex: 0 0 40%;
    max-width: 40%;
}
.gallery_video iframe {
    height: 310px;
}
.gallery_section h2 {
    font-size: 26px;
    }
    .post_sidebar li a {
    font-size: 14px;
}
.sidebar_category li a {
    font-size: 20px;
    }
    .catering-final .order-box h4.onsite_drop {
    font-size: 16px;
}
.catering-final .order-row-col .order-link {
    font-size: 16px;
}
}


@media(max-width: 767px){
.nav .navigation {
    display: none;
}
header {
    padding: 10px 0;
}
.banner_text {
    flex: 0 0 100%;
    margin-bottom: 40px;
	    top: 10px;
}

.banner h1::before {
    left: 0;
    right: 0;
    background-position: 0 center;
}

.banner h1 {
    display: inline-block;
    left: 4%;
}

.food_bn img {
    max-width: 80px;
}

.food_bn {
    margin-top: 20px;
}

.banner_img {
    flex: 0 0 100%;
}

.banner .skew {
    transform: skew(0deg) rotate(-4deg);
    width: 150%;
    margin-left: -20%;
    margin-bottom: -40px;
}

.banner_img .banner_text {
    margin: 0 0 -38px;
}

.banner_img img {
    vertical-align: top;
    margin-bottom: -50px;
}


.banner_img .banner_text a {
    box-shadow: 0px 0px 100px 30px rgba(0,0,0,.3);
}

.includge_sec {
    padding-top: 30px;
}

.catering_img {
    display: none;
}

h3.sub_head_mn {
    font-size: 25px;
}

.catering_text h3.sub_head_mn {
    margin-top: 0;
}

.cater_skew {
    transform: skew(0deg) rotate(4deg);
    width: 150%;
    margin-left: -20%;
    margin-bottom: -30px;
}

.catering_text {
    margin-bottom: -78px;
}

.product_mn {
    flex-wrap: wrap;
}

.product_left {
    flex: 0 0 100%;
}

.products {
    padding-top: 20px;
    margin-bottom: 30px;
}

.catering_text a.view_btn {
    box-shadow: 0 0px 36px 0px rgba(0,0,0,.5);
}

.product_left h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    color: #000;
}

.product_right {
    flex: 0 0 100%;
    margin-top: 50px;
}

.product_right ul li {
    flex: 0 0 50%;
}

.product_right ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
a.view_btn {
    max-width: 200px;
    min-height: 60px;
}

.menu_mn h3.sub_head_mn {
    font-size: 28px;
}

.coming_section {
    flex-wrap: wrap;
}

.coming_txt {
    padding-left: 0;
    margin-top: 30px;
}

.burgerBox {
    position: relative;
    overflow: hidden;
}


.burgerBox::after {
    transform: skew(0deg) rotate(-4deg);
    width: 150%;
    margin-left: 0;
    bottom: -6%;
    content: "";
    position: absolute;
    height: 100px;
    display: inline-block;
    background: #fff;
    left: 0;
}
.hm_gallery_mn {
    flex-wrap: wrap;
}

.galery_sec {
    flex: 0 0 100%;
    padding: 0;
    margin-bottom: 4px;
}

.give_back::after {
    transform: skew(0deg) rotate(-4deg);
    width: 150%;
    margin-left: -20%;
    margin-bottom: 0px;
}

.give_back {
    padding-bottom: 70px;
}

.give_bk_img {
    position: relative;
    z-index: 3;
}
.media_social_inner .col {
    flex: 0 0 50%;
}

.media_sec a {
    max-width: 100%;
    padding: 10px 5px 10px 50px;
    position: relative;
    text-align: left;
}

.media_sec a i {
    position: absolute;
    left: 12px;
    top: 50%;
    font-size: 30px;
    transform: translateY(-50%);
}

.media_sec a h4 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0;
}

.media_sec a span {
    margin-top: 0;
    font-weight: 700;
}

.media_social h3.sub_head_mn {
    font-size: 22px;
}

.abt_home {
    flex: 0 0 100%;
    margin-bottom: 40px;
}

.about_sec::before {
    display: none;
}

.media_social {
    padding-bottom: 30px;
}

.about_sec {
    padding-top: 50px;
    text-align: center;
}

.about_sec a.view_btn {
    margin: 0 auto;
}

.about_sec .abt_img {
    flex: 0 0 100%;
}

.about_sec .abt_loc {
    flex: 0 0 100%;
}


.footer_up .col-auto {
    flex: 0 0 100%;
    margin-bottom: 35px;
}

.footer_up .gurantee-img {
    order: 1;
}

.footer_up  .ftr_sign_txt {
    order: 3;
}

.footer_up  .mailing_btn {
    order: 2;
}

.footer_up  .footer_logo {
    order: 4;
}

.mailing_btn a {
    display: inline-block;
}

.footer_up {
    text-align: center;
}

.sign_footer {
    justify-content: center;
    align-items: center;
}

.sign_footer h3 {
    text-align: left;
    margin-bottom: 0;
}
.gallery_text h2.head_mn {
    font-size: 66px;
}
.gallery_text h2.head_mn span {
    font-size: 45px;
}
.catering_text h5 {
    font-weight: 600;
}
.social_fix.active {
    right: -60px;
}
.accla_sec .owl-dots {
    display: none;
}
.accla_inn {
    width: 200px;
    height: 200px;
}
.accolades_sec .owl-carousel .owl-item img {
    width: 60%;
    margin: 0 auto 16px;
}
.accla_mash h3 {
    color: #9d9fa2;
    font-size: 16px;
}
.accolades_sec h3.sub_head_mn {
    font-size: 30px;
    margin-bottom: 20px;
}

.accolades_sec {
    padding-top: 70px;
}
.accla_sec  .owl-nav button span {
    font-size: 32px;
}



.accolades_sec {
    padding-top: 70px;
    padding-bottom: 30px;
}
.accla_sec .owl-nav button {
    line-height: 14px !important;
}

.accolades_sec::before {
    top: -4%;
}


ul.ftr_link_mob.content {
    overflow: hidden;
}

h4.ftr_head_mob.title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
    margin: 0;
    position: relative;
    text-transform: uppercase;
}
h4.ftr_head_mob.title::before {
    position: absolute;
    content: "+";
    font-size: 22px;
    right: 0;
    font-weight: 500;
    top: -4px;
}
.open h4.ftr_head_mob.title::before {
    content: "-";
    top: -7px;
}
.footer_links {
    left: 0;
    max-width: 100%;
}

.footer_Acc {
    margin: 0 -15px;
}

footer .container {
    max-width: 100%;
}

.ftr_accordian {
    border-top: 1px solid #494949;
    padding: 14px 20px;
}

ul.ftr_link_mob.content {
    margin: 0;
    padding: 0 0 0 8px;
    transition: .5s all ease;
    max-height: 0px;
    height: auto !important;
}
ul.ftr_link_mob.content li a {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
}

ul.ftr_link_mob.content li {
    list-style: none;
    padding: 0px 0 0;
}
footer {
    background: #000;
}

.ftr_accordian:last-child {
    border-bottom: 1px solid #494949;
}

.burger_block_text.content {
    overflow: hidden;
    transition: .5s all ease;
    max-height: 0px;
    height: auto !important;
}




.burger_tab_mob img {
    width: 100%;
}

.burger_tab_mob h3 {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    left: 8px;
    font-family: 'PhosphateSolid';
    margin-bottom: 0;
}

.burger_tab_mob {
    position: relative;
}
.burger_tab_mob::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-bottom: 25px solid white;
    border-right: 25px solid transparent;
    top: auto;
    bottom: -3px;
    right: 30px;
    z-index: 2;
    opacity: 0;
    transition: .1s all ease;
}
.open .burger_tab_mob::after {
	opacity: 1;
	}
.burger_txt {
    padding: 20px 20px;
    border: 1px solid #e0e0e0;
    background: #fff;
}

.bustn_burger_lt, .bustn_burger_rt {
    flex: 0 0 100%;
}
.burger_block {
    margin-bottom: 8px;
}
.burger_txt h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.burger_txt p {
    font-size: 14px;
}

.burger_txt a.view_btn {
    margin: 15px auto;
}
.bustn_burger_lt:nth-last-child(3) {
    margin-bottom: 22px;
}
.footer_div::before{
	display: none;
}
.includge_sec .owl-carousel .owl-item img {
    width: 70%;
    margin: 0 auto;
}
.about_text, .about_img_Sec {
    flex: 0 0 100%;
}
.sub_pages {
    margin-top: -270px;
}
.sub_pages h3.sub_head_mn {
    font-size: 32px;
}
.catering-content p {
    display: none;
}
.order-row-col {
    margin-bottom: 10px;
    padding: 0 !important;
}
.catering-order-row {
    margin-bottom: 0;
}
.store.catering-final {
    padding-bottom: 0;
}

.gallery_left, .Gallery_sidebar {
    flex: 0 0 100%;
    max-width: 100%;
}
.order-row-col.custom_order {
    order: 2;
}

}





@media(max-width: 575px){

.logo {
    flex: 0 0 46%;
}
.banner h1 span {
    font-size: 50px;
}

.banner h1 {
    font-size: 55px;
    line-height: 68px;
    letter-spacing: 20px;
}
.banner h1::before {
    height: 19px;
    bottom: -7px;
}
.food_bn {
    margin-top: 10px;
}
.banner_text h4 {
    font-size: 14px;
}

.food_bn img {
    max-width: 60px;
}

.food_bn span {
    font-size: 16px;
}
.includge_sec {
    margin-top: -70px;
}
.banner_img img {
    margin-bottom: -60px;
    max-width: 52%;
    margin: 0 auto;
    display: block;
}
.owl-carousel .owl-dots button {
    height: 10px;
    width: 10px;
    margin: 0px 2px;
}
.banner_img .banner_text a {
    margin-top: -8px;
}
.banner_text h3 {
    font-size: 22px;
}
h3.sub_head_mn span {
    display: inline-block;
}

h3.sub_head_mn {
    font-size: 22px;
}
.banner_text {
    margin-bottom: 0;
}
.coming_txt ul li {
    font-size: 18px;
    margin-bottom: 10px;
    background-size: 36px;
    padding-left: 50px;
}
.burgerBox {
    background: url(../images/burga_box_mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.coming_img {
    flex: 0 0 100%;
}
.gallery_home {
    margin-top: 20px;
}

.press li img {
    max-width: 100%;
}
.press ul li {
    padding: 0 15px;
}
.accolades_sec::before {
    width: 160%;
}
.give_back h3.sub_head_mn {
    font-size: 20px;
}
h2.head_mn {
    line-height: 70px;
}
.media_social_inner .col {
    flex: 0 0 100%;
}
.media_sec {
    max-width: 240px;
    margin: 0 auto;
}

.copy-right span {
    display: block;
}





.coming_txt ul li {
    font-size: 18px;
    margin-bottom: 10px;
    background-size: 36px;
    padding-left: 50px;
}
.topArrow {
    top: 80%;
}
.coming_img img {
    max-width: 180px;
}
.gallery_text h2.head_mn {
    font-size: 52px;
}
.gallery_text h2.head_mn span {
    font-size: 38px;
}
.press h3.sub_head_mn {
    font-size: 40px;
    }
    .press {
    margin-top: 20px;
}
.sign_footer {
    display: block;
    text-align: center;
}

.sign_footer h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400;
}
.mailing_btn a {
    font-size: 14px;
    padding: 12px 28px 12px;
}




.banner {
    display: flex;
    flex-wrap: wrap;
}

.banner .skew {
    position: relative;
    bottom: 0%;
    align-self: flex-end;
    margin-right: -16%;
    margin-bottom: 0;
    margin-bottom: -30%;
}

.inner_banner .food_bn span {
    font-size: 24px;
}
.inner_banner .banner_text h1 {
    font-size: 85px;
    line-height: 125px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.banner.inner_banner {
    padding-bottom: 90px;
}
.sub_pages {
    padding-top: 80px;
    margin-top: -90px;
}
    .about_text p {
    font-size: 14px;
    margin-bottom: 20px;
}
.sub_pages h3.sub_head_mn {
    font-size: 30px;
    margin-bottom: 40px;
}
.abt_sec_txt h3 {
    font-size: 31px;
}
.subPages .press::before {
    top: 0%;
    transform: skewX(-80deg) rotate(3.5deg) translateX(-47%);
}
.subPages .accolades_sec::before{
    display: none;
}

.catering-content a.view_btn {
    margin-top: 10px;
    max-width: 170px;
    min-height: 43px;
}

.sub_pages .catering-content h3.sub_head_mn {
    font-size: 30px;
}


.catering-final p {
    font-size: 16px;
    line-height: 29px;
}

.catering-final p {
    padding-bottom: 30px;
}
.row.catering-order-row {
    padding: 0;
}
.catering-final .order-box .text-box h3.sub_head_mn {
    font-size: 28px;
    margin-bottom: 0px;
    line-height: 30px;
}
.catering-final .order-box h4 {
    font-size: 12px;
    font-weight: 300;
}
.catering-final .order-row-col .order-link {
    font-size: 12px;
    margin-bottom: 0;
}
.catering-final .order-box h4.onsite_drop {
    font-size: 12px;
}


.gallery_video iframe {
    height: 170px;
}
.br_video span {
    font-size: 12px;
    padding: 12px 20px;
}
.gallery_section h2 {
    font-size: 18px;
}
.emal_follow h4 {
    font-size: 18px;
}
.sidebar_category li a {
    font-size: 16px;
}
.post_sidebar h3 {
    margin-bottom: 16px;
}
.sidebar_category {
    margin-bottom: 40px;
}
.burger_sidebar ul li a {
    font-size: 22px;
}
.br_video {
    margin-right: -2px;
}
.more a.view_btn {
    max-width: 158px;
    min-height: 45px;
    font-size: 11px;
}
.gallery_left {
    margin-bottom: 20px;
}
}

























