@font-face {
    font-family: 'Dry Brush';
    src: url('DryBrush.woff2') format('woff2'),
        url('DryBrush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PhosphateSolid';
    src: url('PhosphateSolid.woff2') format('woff2'),
        url('PhosphateSolid.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'The Historia Demo';
    src: url('TheHistoriaDemo.woff2') format('woff2'),
        url('TheHistoriaDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stingray';
    src: url('Stingray.woff2') format('woff2'),
        url('Stingray.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amithen';
    src: url('Amithen.woff2') format('woff2'),
        url('Amithen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

